.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(
		circle at top left,
		rgba(2, 105, 136, 0.911),
		rgb(7, 39, 128),
		rgb(22, 4, 122)
	);
}
